body {
    background: white;
    margin: 0;
    padding: 0;
}

button, p{
    font-family: 'Avenir', sans-serif;
    font-weight: bold;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
}

.main-container {
    grid-column: 2;
}

.pomodoro-timer-container {
    display: grid;
    grid-template-rows: 1fr 1.2fr 1fr 0.5fr;
    height: 100vh;
    place-items: center;
}

.session-type-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    width: 30vw;
}

.session-type{
    width: 100%;
    text-align: center;
}

hr{
    margin: 20px;
    border: none;
    height: 2px;
    background-color: #505050;
}

.session-type-text{
    font-size: 20px;
}

.pomodoro-container {
    grid-row: 2;
}

.timer-container {
    grid-row: 3;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
    text-align: center;
}

.sessions-number-container{
    grid-row: 4;
    place-items: center;
}

.sessions-text{
    color: dimgray;
}

.secret-images-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.secret-images{
    width: 34vw;
    align-self: center;
    display: none;
}

.good-job-text{
    display: none;
    font-size: 25px;
    color: dodgerblue;
    font-style: italic;
}

.start-text {
    font-size: 25px;
    display: block;
    color: green;
}

.countdown-container {
    grid-row: 2;
    border: 1px solid  rgb(34, 139, 34);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10vh;
    margin: 0;
}

.countdown-text {
    font-size: 50px;
}

.button {
    color: white;
    border: none;
    border-radius: 15px;
    height: 10vh;
    font-size: 35px;
    width: 15vw;
}

.button-icon {
    width: 27px;
    height: 27px;
    object-fit: contain;
}

.textarea {
    resize: none;
    color: rgb(204, 0, 0);
    border: none;
    height: 10vh;
    font-size: 50px;
    width: 20vw;
    grid-row: 2;
    background: transparent;
    text-align: center;
    line-height: 10vh;
}

.textarea:focus {
    outline: none;
    border: none;
}

#start-button {
    background: rgb(34, 139, 34);
    height: 7vh;
}

#start-button:hover {
    background: rgb(0, 100, 0);
}


#restart-button {
    grid-row: 3;
    background: rgb(204, 0, 0);
    display: none;
    height: 7vh;
}

#restart-button:hover {
    background-color: rgb(153, 0, 0);
}

.pomodoro-image {
    height: 35vh;
}
